@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.h1{
    font-style: italic;
    text-align: center;

}
.h2{
    font-style:italic;
}

.main{
    text-align-last: center;
}

.icon {
    color: #7b9ebb;
    font-size: 18px;
}
.gmail{
    text-align: left;
    font-style: italic;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.copyright{
    text-align: center;
}
.Education{
    font-style: italic;
      font-weight: bold;
}